.navbar_container {
  max-width: 90%;
  margin: 0 auto;
  .navbar_logo {
    display: flex;
    justify-content: center;
    img {
      width: 150px;
      height: 150px;
    }
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    &_icons {
      display: flex;
      gap: 20px;
      i {
        font-size: 14px;
        transition: 300ms;
        cursor: pointer;
        &:hover {
          color: #f6c4a7;
        }
      }
    }
    &_navmenu {
      position: relative;
      ul {
        display: flex;
        gap: 40px;
        li {
          font-size: 13px;
          font-weight: 700;
          transition: 300ms;
          &:hover {
            color: #f6c4a7;
          }
        }
      }
    }
    &_search {
      display: flex;
      gap: 10px;
      align-items: center;
      input {
        outline: none;
        padding: 0px 5px;
      }

      i {
        font-size: 14px;
        transition: 300ms;
        cursor: pointer;
        &:hover {
          color: #f6c4a7;
        }
      }
      .fa-user {
        padding: 0px 10px;
        border-left: 2px solid lightgray;
        border-right: 2px solid lightgray;
      }
      .fa-bars {
        display: none;
      }
      .login_register {
        position: relative;
        &_hover {
          position: absolute;
          background-color: white;
          width: 200px;
          height: 200px;
          border: 1px solid lightgray;
          z-index: 3;
          right: -90px;
          top: 30px;
          display: flex;
          flex-direction: column;
          align-items: center;
          border-radius: 10px;
          padding: 10px;
          img {
            width: 70px;
          }
          .register_btn {
            display: flex;
            flex-direction: column;
            text-align: center;
            gap: 5px;
            p {
              font-size: 14px;
              color: #191919;
              font-weight: 600;
              padding: 10px 0px 5px 0px;
            }
          }
          a {
            padding: 5px 15px;
            border-radius: 40px;
            font-weight: 600;
            background-color: gray;
            color: white;
            transition: 300ms;
            font-size: 14px;
            &:hover {
              background-color: #f6c4a7;
            }
          }
        }
      }
    }
  }
}

.sticky {
  max-width: 100%;
  margin: 0 auto;
  z-index: 5;
  position: fixed;
  padding: 15px 78px;
  top: 0;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 10px 10px -3px rgba(123, 123, 123, 0.2);
  -moz-box-shadow: 0px 10px 10px -3px rgba(123, 123, 123, 0.2);
  box-shadow: 0px 10px 10px -3px rgba(123, 123, 123, 0.2);
  width: 100vw;
  .navbar_logo {
    display: none;
  }
}

@media (max-width: 575.98px) {
  .navbar_container {
    .navbar {
      &_navmenu {
        display: none;
      }
      &_search {
        .fa-bars {
          display: block;
        }
      }
    }
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .navbar_container {
    .navbar {
      &_navmenu {
        display: none;
      }
      &_search {
        .fa-bars {
          display: block;
        }
      }
    }
  }
}

