.latestPostSection {
  display: flex;
  max-width: 80%;
  margin: 30px auto;
  justify-content: space-between;
  flex-wrap: wrap;
  .latestPostSectionCard {
    width: 260px;
    margin: 20px 0px;
    &_img {
      width: 260px;
      height: 300px;
      object-fit: cover;
    }
    &_title {
      font-size: 17px;
      padding: 15px 0px;
      color: #262626;
      font-weight: 600;
      cursor: pointer;
      transition: 500ms;
      &:hover {
        color: #545454;
      }
    }
    .latestPostSectionCard_btn {
      font-size: 18px;
      color: #f36eae;
      font-family: "Dancing Script", cursive !important;
      background-color: transparent;
      border: none;
      transition: 300ms;
      &:hover {
        color: rgb(153, 153, 153);
      }
    }
  }
}
