.commentArea {
  width: 100%;
  padding: 50px 0px;
  &_header {
    display: flex;
    justify-content: center;
    padding: 5px 0px 25px 0px;
    p {
      font-size: 26px;
      letter-spacing: 1px;
      font-weight: 600;
    }
  }
  form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    .commentArea_textarea {
      display: flex;
      flex-direction: column;
      gap: 8px;
      textarea {
        max-width: 100%;
        min-height: 80px;
        resize: vertical;
        outline: none;
        padding: 10px;
        border: 1px solid lightgray;
      }
      label {
        font-size: 14px;
        letter-spacing: 1px;
      }
    }
    .commentArea_input {
      display: flex;
      justify-content: space-between;
      &_user {
        display: flex;
        flex-direction: column;
        gap: 8px;
        input {
          width: 350px;
          outline: none;
          padding: 10px;
          border: 1px solid lightgray;
        }
        label {
          font-size: 14px;
          letter-spacing: 1px;
        }
      }
    }
    .commentArea_btn {
      display: flex;
      justify-content: center;
      button {
        width: 180px;
        height: 40px;
        border: none;
        font-size: 11px;
        font-weight: 800;
        color: white;
        background-color: #F36EAE;
      }
    }
  }
}
