.updateSkinCare {
    max-width: 100%;
    margin: 30px auto;
  form {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    input{
        width: 500px;
        padding: 5px;
        outline: none;
    }
    button {
        border: none;
        padding: 5px 10px;
        background-color: #262626;
        color: white;
        transition: 300ms;
        margin-top: 20px;
        &:hover {
          background-color: black;
        }
      }
  }
}
