.brands {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0px;
  border-bottom: 1px solid lightgray;
  gap: 20px;
  &_header {
    font-size: 30px;
    font-weight: 600;
  }
  &_location {
    display: flex;
    gap: 10px;
    &_brands {
      color: gray;
      padding-left: 10px;
      border-left: 1px solid lightgray;
    }
    &_home {
      cursor: pointer;
      transition: 300ms;
      color: black;
      &:hover {
        color: #f6c4a7;
      }
    }
  }
}

