.brands_slider {
  .mySwiper {
    max-width: 80%;
    .SwiperSlide {
      font-size: 12px;
      text-align: center;
      cursor: pointer;
      transition: 300ms;
      &:hover {
        color: #f6c4a7;
      }
    }
  }
}
.brand_products {
  .makeupBrand_cards {
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    padding: 30px 0px;
    flex-wrap: wrap;
    gap: 45px;
    .makeupBrand_card {
      width: 270px;
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
      margin: 20px 0px;
      padding: 10px;

      &_img {
        width: 260px;
        height: 260px;
        background-color: white;
        position: relative;
        overflow: hidden;
        &:hover .makeupBrand_card_hover {
          opacity: 1;
        }
        img {
          width: 260px;
          height: 260px;
          object-fit: contain;
          transition: 600ms;
          &:hover {
            scale: 1.05;
          }
        }
        .makeupBrand_card_hover {
          opacity: 0;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          transition: 400ms;

          .makeupBrand_card_hover_btn {
            padding: 10px 20px;
            font-size: 11px;
            letter-spacing: 1px;
            font-weight: 700;
            border: none;
            background-color: black;
            color: white;
            transition: 400ms;
            &:hover {
              background-color: white;
              color: black;
            }
          }
        }
      }
      &_categories {
        display: flex;
        align-items: center;
        gap: 3px;
        padding: 15px 0px;
        .fa-angle-right {
          font-size: 12px;
        }
        .makeupBrand_card_category {
          font-size: 12px;
          cursor: pointer;
          transition: 300ms;
          &:hover {
            color: #f6c4a7;
          }
          span {
            color: rgb(153, 153, 153);
            font-family: "Dancing Script", cursive;
            font-size: 16px;
          }
        }
        .makeupBrand_card_subCategory {
          font-size: 12px;
          cursor: pointer;
          transition: 300ms;
          &:hover {
            color: #f6c4a7;
          }
        }
      }
      &_name {
        font-size: 18px;
        font-weight: 600;
        padding-bottom: 20px;
        transition: 400ms;
        cursor: pointer;
        &:hover {
          color: rgb(153, 153, 153);
        }
      }
    }
  }
  .skincareBrand_cards {
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    gap: 45px;
    padding: 30px 0px;
    flex-wrap: wrap;
    .skincareBrand_card {
      width: 270px;
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
      margin: 20px 0px;
      padding: 10px;

      &_img {
        width: 260px;
        height: 260px;
        background-color: white;
        position: relative;
        overflow: hidden;
        &:hover .skincareBrand_card_hover {
          opacity: 1;
        }
        img {
          width: 260px;
          height: 260px;
          object-fit: contain;
          transition: 600ms;
          &:hover {
            scale: 1.05;
          }
        }
        .skincareBrand_card_hover {
          opacity: 0;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          transition: 400ms;

          .skincareBrand_card_hover_btn {
            padding: 10px 20px;
            font-size: 11px;
            letter-spacing: 1px;
            font-weight: 700;
            border: none;
            background-color: black;
            color: white;
            transition: 400ms;
            &:hover {
              background-color: white;
              color: black;
            }
          }
        }
      }
      &_categories {
        display: flex;
        align-items: center;
        gap: 3px;
        padding: 15px 0px;
        .fa-angle-right {
          font-size: 12px;
        }
        .skincareBrand_card_category {
          font-size: 12px;
          cursor: pointer;
          transition: 300ms;
          &:hover {
            color: #f6c4a7;
          }
          span {
            color: rgb(153, 153, 153);
            font-family: "Dancing Script", cursive;
            font-size: 16px;
          }
        }
      }
      &_name {
        font-size: 18px;
        font-weight: 600;
        padding-bottom: 20px;
        transition: 400ms;
        cursor: pointer;
        &:hover {
          color: rgb(153, 153, 153);
        }
      }
    }
  }
}

@media (max-width: 575.98px) {
  .brand_products {
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media (max-width: 767.98px) {
  .brand_products {
    .makeupBrand_cards {
      flex-wrap: wrap;
      justify-content: center;
    }
    .skincareBrand_cards {
      flex-wrap: wrap;
      justify-content: center;
    }
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .brand_products {
    .makeupBrand_cards {
      flex-wrap: wrap;
      justify-content: space-between;
    }
    .skincareBrand_cards {
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .skincare_categories {
    .mySwiper {
      .SwiperSlide {
        font-size: 14px;
      }
    }
  }
  .brand_products {
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
