.skincareDetail_header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0px;
  border-bottom: 1px solid lightgray;
  &_location {
    display: flex;
    gap: 10px;
    padding: 0px 5px;
    &_makeup {
      color: gray;
      padding-left: 10px;
      border-left: 1px solid lightgray;
    }
    &_home {
      cursor: pointer;
      transition: 300ms;
      color: black;
      &:hover {
        color: #f6c4a7;
      }
    }
  }
}
.skincareDetail {
  max-width: 80%;
  margin: 50px auto;
  display: flex;
  justify-content: space-between;
  &_review {
    width: 40%;
    border: 1px solid lightgray;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    height: 410px;
    &_header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .line {
        width: 70px;
        height: 1px;
        background-color: lightgray;
      }
      h3 {
        font-size: 14px;
        text-wrap: nowrap;
        padding: 5px 0px;
      }
    }
    ul {
      li {
        display: flex;
        justify-content: space-between;
        padding: 10px 0px;
        border-bottom: 1px solid lightgray;
        font-size: 14px;
        color: gray;
        font-weight: 600;
        .stars {
          max-width: 100%;
          display: flex;
          gap: 3px;
          .str {
            font-size: 14px;
            color: #ffc107;
          }
          input[type="radio"] {
            display: none;
          }
        }
        .reviewDetail_categories {
          font-size: 12px;
          display: flex;
          gap: 3px;
          align-items: center;
          &_category {
            cursor: pointer;
            transition: 300ms;
            &:hover {
              color: #f6c4a7;
            }
          }
          &_subCategory {
            cursor: pointer;
            transition: 300ms;
            &:hover {
              color: #f6c4a7;
            }
          }
        }
      }
      .reviewInfo_brand {
        p {
          cursor: pointer;
          transition: 300ms;
          &:hover {
            color: #f6c4a7;
          }
        }
      }
    }
  }
  &_desc {
    .skincareDetail_thumbnail {
      width: 100%;
      height: 520px;
      object-fit: contain;
      padding-bottom: 20px;
    }
    .skincareDetail_name {
      font-size: 34px;
      text-align: center;
      padding: 15px 0px;
      font-weight: 600;
    }
    .skincareDetail_icon {
      max-width: 100%;
      justify-content: center;
      display: flex;
      gap: 5px;
      .str {
        font-size: 20px;
        cursor: pointer;
        transition: 300ms;
      }
      input[type="radio"] {
        display: none;
      }
    }
    .skincareDetail_about {
      line-height: 1.8;
      color: rgb(84, 84, 84);
      padding: 40px 0px;
    }
    .skincareDetail_ratings {
      width: 100%;
      border: 1px solid lightgray;
      display: flex;
      padding: 40px;
      justify-content: space-between;
      margin-bottom: 50px;
      flex-wrap: wrap;
      .skincareDetail_rating {
        text-align: center;
        padding: 10px;
        p {
          font-size: 18px;
          font-weight: 600;
          span {
            font-size: 30px;
          }
        }
      }
    }
  }
}

.sharedComments {
  max-width: 80%;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  .userComment {
    width: 100%;
    border: 1px solid lightgray;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    .userSide {
      display: flex;
      gap: 5px;
      align-items: center;
      font-size: 17px;
      letter-spacing: 1px;
      img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: 1px solid lightgray;
      }
      .userName{
        font-size: 14px;
        color: #f36eae;
      }

    }
    .comment{
      color: #191919;
      font-size: 15px;
    }
  }
}

@media (max-width: 576px) {
  .skincareDetail {
    &_desc {
      .skincareDetail_thumbnail {
        width: 100%;
      }
      .skincareDetail_name {
        font-size: 26px;
      }
    }
  }
  .skincareDetail_header {
    .skincareDetail_location {
      padding: 0px 5px;
      &_skincare {
        font-size: 14px;
        text-align: center;
      }
      &_home {
        font-size: 14px;
      }
    }
  }
}

@media  (max-width: 991.98px) {
  .skincareDetail {
    display: flex;
    flex-direction: column;
    &_review {
      width: 100%;
    }
  }
}
